$dark-blue:   #1f2937; 
$light-blue:  #56738E;
$bluish-gray: #576672;
$pastel-blue: #56738E;
$plain-white: #ffffff;

$effect-white: #ffffffb6;

$alt-dark-blue:    #2c3a48; 
$alt-pastel-blue:  #3a4c5f;


