<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <footer class="footer">
        <div class="footer_wrapp">
            <img class="logoFooter" src="./assets/imgs/logo-sebastian-white.svg" alt="">
            <div class="icons_wrapp">
                <a href=""><i class="fa-brands fa-instagram"></i></a>         
                <a href=""><i class="fa-brands fa-linkedin"></i> </a> 
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="footer_wrapp">
            <h1 class="title">Contato:</h1>
            <p>Email: contato@sebastiancont.com</p>
            <p>Whatsapp: (11) 99845-3721 / (11) 99845-3721</p>
            <p>Segunda a sexta: 8h às 18h</p>
        </div>
        <div class="footer_wrapp">
            <h1>Endereço:</h1>
            <p>Rua das Palmeiras, 842 - Vila Mariana, <br>São Paulo - CEP: 04132-210</p>
            <p>Avenida Atlântica, 1675 - Copacabana <br> Rio de Janeiro - RJ CEP: 22021-001</p>
        </div>
        <article class="footer_extend">
            <p class="rightsReserved" id="footer-extend">© 2025 Sebastian Contabilidade. Todos os direitos reservados.</p>
        </article>
    </footer>

</body>
</html>