<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style/css/style.css">
</head>
<body>
    <header class="header">
        <nav class="navigation_wrapp">
            <div class="links_wrapp">
                <a href=""><img src="./assets/imgs/logo-sebastian.svg" class="logoHeader" alt="logo"></a>
                <div class="mobile_menu" id="menu">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <ul class="nav_list" id="list">
                    <a class="links" href=""><li>planos</li></a>
                    <a class="links" href=""><li>sobre</li></a>
                    <a class="links" href=""><li>contato</li></a>
                    <a class="links" href=""><li>serviços</li></a>
                </ul>
            </div>
        </nav>
    </header>
    
</body>
</html>